/*style*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background: #145a32;
  color: #fff;
}

.collapse li.nav-item {
  align-items: center;
  font-weight: bold;
  margin-left: 1em;
}

.navbar-brand {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  align-items: center;
  margin-right: 2em;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}

.row .py-5 {
  margin-top: 5em;
}

nav.container.collapse navbar-collapse ul li a {
  color: #fff;
}

.jumbotron {
  margin-top: 5em;
  background: #e5e7e9;
}

.card.mt-2
  div.row.py-lg-2
  .col-lg-12.justify-content-center.align-items-center
  img#GFG.card-img-top {
  justify-content: center;
  display: flex;
  margin-top: 0.75em;
}

.container.title-item.d-inline-block {
  display: flex;
  justify-content: center;
}

.container.title-item.d-inline-block .row .col-2 {
  text-align: center;
}

.container.title-item.d-inline-block .row .col-2 .text-center span{
  color: #145a32;
  margin-bottom: 0.5em;
}

.container.title-item.d-inline-block .row.mt-2.mb-1 .col-10 hr {
  color: #145a32;
  background-color: #145a32;
  justify-content: center;
}

.gallery-item img {
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}
